{% extends "pages/richtextpage.html" %}
{% load pages_tags mezzanine_tags i18n site_extras %}
{% block main %}
{{block.super}}
    <div class="container">
        <div class="row">
            <div class="span8">
                	<div class="slides">
							{% nevercache %}
                            {% include_external "http://www.krrcfs.ca/promos/" %}
							{% endnevercache %}
                	</div>
                    <div class="row">
            {% if request.META.QUERY_STRING == "previewmode" %}
            <div class="span4">
                <ul class="infobuttons unstyled">
                    <li><a href="/4youth/"><img src="{{STATIC_URL}}img/btn-foryouth.png" alt="Services for Youth"></a></li>
                    <li><a href="/foster/"><img src="{{STATIC_URL}}img/btn-fosterparenting.png" alt="For Foster Parents"></a></li>
                    <li><a href="/adopt/"><img src="{{STATIC_URL}}img/btn-adoptionservices.png" alt="Adoption Services"></a></li>
                </ul>
            </div>
            {% endif %}
            {% if request.META.QUERY_STRING == "previewmode" %}
            <div class="span4">
            {% else %}
            <div class="span8 text-center">
            {% endif %}
                <h2 class="vig_title title_underline">Agency News</h2>
                {% nevercache %}
                {% include "get-agency-news.html" %}
                {% endnevercache %}
            </div>
        </div>
            </div>
            <div class="span4 hi">
                <div id="statement">
                    <div id="values">
                        <dl>
                            <dt>Vision</dt>
                            <dd>Children and families reaching their full potential.</dd>
                        </dl>
                        <dl>
                            <dt>Mission</dt>
                            <dd>We are dedicated to ensuring the safety and well-being of every child by providing effective services to children and families.</dd>
                        </dl>
                        <p><strong>Values</strong></p>
                        <div class="row">
                            <div class="span4 values-list">
                                <dl>
                                    <dt>Positive Attitude</dt>
                                    <dd>We will focus on strengths, accept differences and see challenges as opportunities.</dd>
                                    <dt>Relationships</dt>
                                    <dd>We value positive connections and open communications to provide opportunities for meaningful change.</dd>
                                    <dt>Integrity</dt>
                                    <dd>We value mutual trust and respect through transparency, honesty and accountability.</dd>
                                    <dt>Diversity</dt>
                                    <dd>We nurture and embrace the uniqueness of all individuals and cultures in our workplace and communities.</dd>
                                    <dt>Excellence</dt>
                                    <dd>We are committed to the continuous pursuit of skills, knowledge and quality service.</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="leaves"></div>
                </div>
        </div>
        </div>
    </div>
{% endblock %}
