* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    *behavior: url(/static/css/boxsizing.htc);
}
@font-face {
    font-family: 'WalkwayBoldRegular';
    src: url('/static/fonts/Walkway_Bold-webfont.eot');
    src: url('/static/fonts/Walkway_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Walkway_Bold-webfont.svg#WalkwayBoldRegular') format('svg'),
         url('/static/fonts/Walkway_Bold-webfont.woff') format('woff'),
         url('/static/fonts/Walkway_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

footer {
    background:none;
}

footer .container {
    background:none;
    border-top:1px solid #726658;
    padding: 10px 0 0;
}

#logo {
    -moz-box-shadow: none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:after {
    clear: both;
}

.cf:before,.cf:after {
    content: " ";
    display: table;
}

#main_navigation {
    padding-left: 0;
    padding-right: 0;
}

.infobox {
    background: #761B4F;
    border: 1px solid #726658;
    color: white;
    font-family: 'WalkwayBoldRegular';
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
}

.infobox p:nth-child(2) {
    font-weight: 400;
}

body {
    background-color: #fff;
    -moz-box-sizing: -moz-border-box;
    -webkit-box-sizing: -webkit-border-box;
    box-sizing:border-box;
    height: 100%;
    margin: 0 auto;
}

#values>h2 {
    border-bottom: 1px solid #fff;
    color: #111;
    font-family: 'WalkwayBoldRegular';
    letter-spacing:1.5px;
    font-weight: 400;
    text-shadow: 0 0 3px #c4c4c4;
}

html {
    background-color: #fff;
}

nav>ul {
    display: block;
    height: 82px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 2000;
}

nav>ul>li {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #333;
    float: left;
    font-size: 1.5em;
    font-weight: 400;
    height: 82px;
    max-width:25%;
    display:table;
    width:25%;
}

#menu-childrens-services {
    background: #761B4F;
    border-left: none;
}

#menu-clinical-community-services {
    background: #77A03F;
}

#menu-family-services {
    background: #227B82;
}

#menu-corporate-services {
    background: #726658;
    border-right: none;
}

nav>ul>li>a {
    color: #fff;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display:table-cell;
    vertical-align:middle;
}


html {
    background: #fff;
}

#values>dl:first-child {
    background-color: #761B4F;
    color: #fff;
    padding: 5px;
    margin-top:0;
}

#values dd {
    margin-left:0;
}

#values>dl:first-child dt {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'WalkwayBoldRegular';
}

#values>dl:first-child dd {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb {
    margin: 0 auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    border-radius:0;
    background:none;
}

.breadcrumb>li {
    text-shadow:none;
}
.breadcrumb>.active {
    color:#726658;
}

.values-list dd {
    margin-bottom: 10px;
    padding-left:0;
}


.first {
    margin:0;
}

.first>li {
    width:25%;
}

.first>li li:first-child {
    padding:5px 0;
}

.primary {
    margin:0;
}

.primary li {
    width:100%;
    padding:3px 5px 0;
}

.primary li:first-child a {
    font-weight:bold;
    color:#111;
}

.frontpage-hero {
    width:100%;
}

.values-list dt {
    color:#761B4F;
}

#values>dd, .values-list dd  {
    margin-left: 0;
}

.dropdown-menu {
    font-size:14px;
    font-weight:normal;
    min-width:100%;
    margin:0 auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius:0;
    box-shadow:none;
}

.dropdown-menu ul {
    list-style:none;
}

.dropdown-menu > li {
    padding-left: 0;
}

.open > .dropdown-menu {
    min-width:100%;
}

#main_navigation {
    margin-bottom: 20px;
}

.spacer-top {
    position:relative;
    top:-80px;
}

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".pdf"]:after { content: " (PDF)"; }

/* If file size specified as data attribute, use that too */
a[href$=".pdf"][data-size]:after { content: " (PDF, " attr(data-size) ")"; }

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".doc"]:after { content: " (DOC)"; }

/* If file size specified as data attribute, use that too */
a[href$=".doc"][data-size]:after { content: " (DOC, " attr(data-size) ")"; }

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".docx"]:after { content: " (DOCX)"; }

/* If file size specified as data attribute, use that too */
a[href$=".docx"][data-size]:after { content: " (DOCX, " attr(data-size) ")"; }

.vig, .page-header, .vig_title {
	font-family:'WalkwayBoldRegular';
	letter-spacing:1.5px;
}

nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

#menu-childrens-services > .dropdown-menu > li > a:hover {
    background:#761b4f;
}

#menu-clinical-community-services > .dropdown-menu > li > a:hover {
    background:#77A03F;
}

#menu-family-services > .dropdown-menu > li > a:hover {
    background: #227B82;
}

#menu-corporate-services > .dropdown-menu > li > a:hover {
    background: #726658;
}

.dropdown-menu > li > a:hover {
    color:#fff;
    text-decoration: none;
}

.leaves {
    background: url('/static/img/leaves.png') no-repeat;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-background-size: 75%;
    background-size:75%;
    background-position: center center;
    -moz-opacity:0.15;
    -webkit-opacity:0.15;
    opacity: 0.15;
    z-index:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    -ms-behavior: url(/static/js/backgroundsize.min.htc);
}

#statement {
    position:relative;
    z-index:1;
    width:100%;
    height:100%;
}

.vig:hover {

    background:rgba(255,255,255,0.5);
    text-decoration:none;
}

.nav-list li.active>a[href*="childrens-services"] {
    background-color:#761B4F;
}

.nav-list li.active>a[href*="clinical-community-services"] {
    background-color:#77a03f;
}

.nav-list li.active>a[href*="family-services"] {
    background-color:#227B82;
}

.nav-list li.active>a[href*="corporate-services"] {
    background-color:#726658;
}

a {
    color:#0cb0c1;
}

a:hover, a:focus {
    color:#186872;
}

.panel {
    background: none;
    border:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

input[name="q"] {
    border-radius:0;
    -moz-box-shadow:none;
    box-shadow:none;
    padding: 0 6px;
}

.map {
    background:url('http://cambelt.co/300x300/Two+Color?color=726658,ffffff') no-repeat;
}

.bigmap {
    background:url('http://cambelt.co/940x235/Two+Color?color=77A03F,ffffff') no-repeat;
}

#values {
    position:relative;
    z-index:1;
}

img {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
}

.page-header {
    border-bottom:1px solid #726658;
}

.column-list {
    -webkit-column-count:5;
    -moz-column-count:5;
    -ms-column-count:5;
    column-count:5;
    margin-left:0;
    list-style:none;
}

div[property=address] {
    margin-bottom:15px;
}

div[property=address] span,
span[property=telephone],
span[property=faxNumber] {
    display:block;
}

div[property=address] span[property=addressLocality],
div[property=address] span[property=addressRegion],
div[property=address] span[property=postalCode]
{
    display:inline;
}

span[property=addressLocality]:after {
    content:', ';
}

span[property=telephone]:before {
    content:'Phone: ';
}
span[property=faxNumber]:before {
    content:'Fax: ';
}

.slidesjs-pagination {
    margin: 3px 0px 0px 0px

}

.slidesjs-pagination-item {
    display:inline-block;
    background:#e2e2e2;
    width:22px;
    height:22px;
    text-align: center;
    margin-right:3px;
    border:1px solid #333;
    border-radius:22px;
}

.slidesjs-pagination-item a {
    color:#333;
}

.slidesjs-pagination-item>a.active {
    font-weight:bold;
}

.title_underline {
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

.newsitem_title {
    font-size:1.5em;
}

.slides, .slidesjs-stop {display:none;}