@font-face {
    font-family: 'WalkwayBoldRegular';
    src: url('/static/fonts/Walkway_Bold-webfont.eot');
    src: url('/static/fonts/Walkway_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Walkway_Bold-webfont.svg#WalkwayBoldRegular') format('svg'),
         url('/static/fonts/Walkway_Bold-webfont.woff') format('woff'),
         url('/static/fonts/Walkway_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

footer {
    border-top: 1px solid #eee;
    background: rgba(114,102,88,0.35);
}

#logo {
    -moz-box-shadow: none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cf:after {
    clear: both;
}

.cf:before,.cf:after {
    content: " ";
    display: table;
}

#main_navigation {
    padding-left: 0;
    padding-right: 0;
}

.infobox {
    background: #761B4F;
    border: 1px solid #726658;
    color: white;
    font-family: 'WalkwayBoldRegular';
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
}

.infobox p:nth-child(2) {
    font-weight: 400;
}

body {
    background-color: #fff;
    box-sizing:border-box;
    -moz-box-sizing: -moz-border-box;
    -webkit-box-sizing: -webkit-border-box;
    height: 100%;
    margin: 0 auto;
}

div#values>h2 {
    border-bottom: 1px solid #fff;
    color: #111;
    font-family: 'WalkwayBoldRegular';
    letter-spacing:1.5px;
    font-weight: 400;
    text-shadow: 0px 0px 3px #c4c4c4;
}

html {
    background-color: #fff;
}

li a:hover, li a:focus {
    background: #bfefff;
    color: #2b2b2b;
    text-shadow: none;
}

nav>ul {
    display: block;
    height: 82px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 2000;
}

nav>ul>li {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #333;
    float: left;
    font-size: 1.5em;
    font-weight: 400;
    height: 82px;
    max-width:25%;
    display:table;
    width:25%;
}

#menu-childrens-services {
    background: #761B4F;
    border-left: none;
}

#menu-clinical-community-services {
    background: #77A03F;
}

#menu-family-services {
    background: #227B82;
}

#menu-corporate-services {
    background: #726658;
    border-right: none;
}

nav>ul>li>a {
    color: #fff;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display:table-cell;
    vertical-align:middle;
}


html {
    background: #fff;
}

#values>dl:first-child {
    background-color: #761B4F;
    color: #fff;
    padding: 5px;
}

#values>dl:first-child dt {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'WalkwayBoldRegular';
}

#values>dl:first-child dd {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
}

.breadcrumb {
    margin: 0 auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    border-radius:0;
    background:rgba(114,102,88,0.35);
}

.breadcrumb>li {
    text-shadow:none;
}
.breadcrumb>.active {
    color:#111;
}

.values-list dd {
    margin-bottom: 10px;
    padding-left:0;
}


.first {
    margin:0;
}

.first>li {
    width:25%;
}

.first>li li:first-child {
    padding:5px 0;
}

.primary {
    margin:0;
}

.primary li {
    width:100%;
    padding:3px 5px 0;
}

.primary li:first-child a {
    font-weight:bold;
    color:#111;
}

.frontpage-hero {
    width:100%;
}

.values-list dt {
    color:#761B4F;
}

.values>dd, .values-list dd  {
    margin-left: 0;
}

.dropdown-menu {
    font-size:14px;
    font-weight:normal;
    min-width:100%;
}

.dropdown-menu ul {
    list-style:none;
}

.dropdown-menu > li {
    padding-left: 0;
}

.open > .dropdown-menu {
    min-width:100%;
}

#main_navigation {
    margin-bottom: 20px;
}

.spacer-top {
    position:relative;
    top:-80px;
}

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".pdf"]:after { content: " (PDF)"; }

/* If file size specified as data attribute, use that too */
a[href$=".pdf"][data-size]:after { content: " (PDF, " attr(data-size) ")"; }

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".doc"]:after { content: " (DOC)"; }

/* If file size specified as data attribute, use that too */
a[href$=".doc"][data-size]:after { content: " (DOC, " attr(data-size) ")"; }

/* Add " (PDF)" text after links that go to PDFs */
a[href$=".docx"]:after { content: " (DOCX)"; }

/* If file size specified as data attribute, use that too */
a[href$=".docx"][data-size]:after { content: " (DOCX, " attr(data-size) ")"; }

.vig {
	font-family:'WalkwayBoldRegular';
	letter-spacing:1.5px;
}

nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

.dropdown-menu {
    margin: 0 auto;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}