{% extends "base.html" %}
{% block meta_title %}{{ page.title }}{% endblock %}
{% block main %}
    <div class="row">
        <div class="span3">
            <h3>What is CCSY?</h3>
            <p>Continued Care and Support for Youth (CCSY) is a service offered in Ontario to former Crown Wards at the ages 18, 19 and 20.</p>
            <p>With CCSY you are eligible to receive financial support of $850 per month to help you pay for living expenses including rent, food and clothing. In addition, start-up costs such as first or last month&rsquo;s rent and moving expenses may be covered. The Ontario Child Benefit Equivalent savings fund that was set up when you were 15 years of age will be available to you to fund your transition costs.</p>
            <p>Other services include educational support, personal counseling and independence preparation programs. Basic medical, dental and optical coverage is provided.</p>

        </div>
        <div class="span3">
            <h3>Why Do You Get CSSY?</h3>
            <p>Being on Continued Care and Support is a great way to receive help while learning how to be independent. It will give you the opportunity to complete your education, vocational training or employment skills training.</p>
            <p>KRRDCFS will also continue to cover your basic medical, dental and optical needs. This will help you start off on the right foot by learning to maintain your health appointments.</p>
            <p>CCSY gives you the benefit of having a worker to help you when you need it, while continuing to live and function independently.
            </p>
        </div>
        <div class="span3">
            <h3>Things You Should Know:</h3>
            <ul>
                <li>You and your worker will develop a &ldquo;Youth Plan&rdquo; that will focus on goals that will be worked on to achieve success in independence.</li>
                <li>If you are receiving financial supports under the Ontario Disability Supports Program Act or under the Ontario Works Act, you will not be eligible to receive financial support through CCSY. However, you will still be eligible for all the non-financial supports that are offered through CCSY.</li>
                <li>You may receive less than the monthly rate of $850 if you are in custody or treatment. This monthly rate will be increased once you are back in the community.</li>
                <li>If an agreement is being terminated by either you or the agency, written notice must be given to the other party. The agreement then remains in effect for a notice period of three months to the date written notice was received by the other party.</li>
                <li>If you are enrolled in Post-Secondary education, training or an apprenticeship program, you will continue to receive supports, including financial.</li>
            </ul>
        </div>
        <div class="span3">
            <h3></h3>
            <p></p>
        </div>
    </div>
{% endblock %}