<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n site_extras %}
<html lang="en">
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/combined.css" class="cssfx">
{% block extra_css %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="{{ STATIC_URL }}js/cssfx.min.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
<link rel="canonical" href="http://www.krrcfs.ca{{request.path}}">
</head>
<body id="{% block body_id %}body{% endblock %}">
<div class="container" id="skip_nav">
    <div class="row">
        <div class="span6"><a href="#maincontent" class="hide-text">Skip Navigation</a></div>
        <div class="span6 pull-right"></div>
    </div>
</div>

<div class="container">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}
</div>

{% include "includes/navigation_main.html" %}

<div class="container" id="maincontent" role="main">
<div class="row">
{% if request.path == "/" or request.path == "/contact-us/" or request.path == "/4youth/" %}
<div class="span12">
{% else %}
<div class="span4 left noprint">
    {% block left_panel %}
    <div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>
<div class="span8 middle print" role="main">
<h2 class="page-header">{% block title %}{{ page.title }}{% endblock %}</h2>
{% endif %}
{% block slides %}{% endblock %}
{% block main %}{% endblock %}
</div>


</div>
</div>

<footer role="contentinfo" class="noprint">
<div class="container">
    <div class="row">
        {% page_menu "pages/menus/footer.html" %}
    </div>
</div>
<p>Copyright &copy;{% now "Y" %} Kenora-Rainy River Districts Child and Family Services</p>
</footer>
<img class="watermark" src="/static/img/logo.png" />
{% compress js %}
<script src="{{ STATIC_URL }}js/combined.js"></script>
<script>
$(function() {
    $('.middleinput:text, textarea').addClass('xlarge');
    $('.control-group label').addClass('control-label');
    $('.slides').slidesjs({width:940,height:350, play:{active:false,effect:'fade',auto:true,pauseOnHover:true,interval:7500}, pagination:{active:true},navigation:{active:false}});
});
</script>
{% block extra_js %}{% endblock %}
<script src="{{ STATIC_URL }}js/respond.min.js"></script>
{% endcompress %}
<script src="{{STATIC_URL}}js/jquery.slides.js"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.krrcfs.ca/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

</script>
<noscript><p><img src="http://stats.krrcfs.ca/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<script>
function googleTranslateElementInit() {
new google.translate.TranslateElement({
pageLanguage: 'en',
includedLanguages: 'en,fr', //enter the language codes obtained from step 1 and delete this comment
gaTrack: true,
layout: google.translate.TranslateElement.InlineLayout.SIMPLE
}, 'google_translate_element');
}
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
$(function(){
  $('#google_translate_element').bind('DOMNodeInserted', function(event) {
       $('.goog-te-menu-value span:first').html('Translate');
});
});
</script>
<style>
.goog-te-gadget-simple {background-color:#F5F5F5;border:none;font-size:16px; display:inline-block;}
.goog-te-gadget-simple img{display:none;}//hides the image in the widget
</style>
</body>
</html>
