<!DOCTYPE html>
{% load pages_tags mezzanine_tags i18n %}
<html>
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/combined.css">
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">
<div class="container">
    <div class="row">
        <div class="span6"><a href="#maincontent" class="hide-text">Skip Navigation</a></div>
        <div class="span6 pull-right">
        </div>
    </div>
</div>

<div class="container">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}
</div>

{% include "includes/navigation_main.html" %}

<div class="container" id="maincontent" role="main">
<div class="row">
{% if request.path == "/" %}
<div class="span12">
{% else %}
<div class="span4 left">
    {% block left_panel %}
    <div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>
<div class="span8 middle">
<h2>{% block title %}{% endblock %}</h2>
{% endif %}
{% block main %}{% endblock %}
</div>


</div>
</div>

<footer>
<div class="container">
    <div class="row">
        {% page_menu "pages/menus/footer.html" %}
    </div>
<br style="clear:both">
<p>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url set_device "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
<p>Copyright &copy;{% now "Y" %} Kenora-Rainy River Districts Child and Family Services</p>
</footer>
{% compress js %}
<script src="{{ STATIC_URL }}js/combined.js"></script>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/css3pie/1.0.0/PIE.js"></script>
<![endif]-->
<script>
$(function() {
    $('.middleinput:text, textarea').addClass('xlarge');
    $('.control-group label').addClass('control-label');
});
</script>
{% block extra_js %}{% endblock %}
{% endcompress %}
{% include "includes/footer_scripts.html" %}

</body>
</html>
