{% extends "base.html" %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="span12 bigmap"></div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="map"></div>
            <div class="location">
                <h4>Kenora</h4>
                <div property="address" typeof="http://schema.org/PostalAddress">
                    <span property="streetAddress">820 Lakeview Drive</span><br>
                    <span property="addressLocality">Kenora</span>, <span property="addressRegion">Ontario</span> <span property="postalCode">P9N 3P7</span><br>
                    <span property="addressCountry">Canada</span><br>
                </div>
                <div>
                    <span property="telephone">807-467-5437</span><br />
                    <span property="faxNumber">807-467-5539</span>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="map"></div>
            <div class="location">
                <h4>Fort Frances</h4>
                <div property="address" typeof="http://schema.org/PostalAddress">
                    <span property="streetAddress">240 First Street East</span><br>
                    <span property="addressLocality">Fort Frances</span>, <span property="addressRegion">Ontario</span> <span property="postalCode">P9A 1K5</span><br>
                    <span property="addressCountry">Canada</span><br>
                </div>
                <div>
                    <span property="telephone">807-274-7787</span><br />
                    <span property="faxNumber">807-274-6646</span>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="map"></div>
            <div class="location">
                <h4>Atikokan</h4>
                <div property="address" typeof="http://schema.org/PostalAddress">
                    <span property="streetAddress">211 Main Street West</span><br>
                    <span property="addressLocality">Atikokan</span>, <span property="addressRegion">Ontario</span> <span property="postalCode">P0T 1C0</span><br>
                    <span property="addressCountry">Canada</span><br>
                </div>
                <div>
                    <span property="telephone">807-597-2700</span><br />
                    <span property="faxNumber">807-597-6720</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="map"></div>
            <div class="location">
                <h4>Dryden</h4>
                <div property="address" typeof="http://schema.org/PostalAddress">
                    <span property="streetAddress">175 West River Road</span><br>
                    <span property="addressLocality">Dryden</span>, <span property="addressRegion">Ontario</span> <span property="postalCode">P8N 2Z4</span><br>
                    <span property="addressCountry">Canada</span><br>
                </div>
                <div>
                    <span property="telephone">807-223-5325</span><br />
                    <span property="faxNumber">807-223-5324</span>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="map"></div>
            <div class="location">
                <h4>Red Lake</h4>
                <div property="address" typeof="http://schema.org/PostalAddress">
                    <span property="streetAddress">201 Howey Street</span><br>
                    <span property="addressLocality">Red Lake</span>, <span property="addressRegion">Ontario</span> <span property="postalCode">P0V 2M0</span><br>
                    <span property="addressCountry">Canada</span><br>
                </div>
                <div>
                    <span property="telephone">807-727-2165</span><br />
                    <span property="faxNumber">807-727-2645</span>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="map"></div>
            <div class="location">
                <h4>Sioux Lookout</h4>
                <div property="address" typeof="http://schema.org/PostalAddress">
                    <span property="streetAddress">41 King Street</span><br>
                    <span property="addressLocality">Sioux Lookout</span>, <span property="addressRegion">Ontario</span> <span property="postalCode">P8T 1B7</span><br>
                    <span property="addressCountry">Canada</span><br>
                </div>
                <div>
                    <span property="telephone">807-737-3250</span><br />
                    <span property="faxNumber">807-737-2611</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}