{% extends "base.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div property="address" typeof="http://schema.org/PostalAddress">
                <span property="streetAddress">240 First Street East</span><br>
                <span property="addressLocality">Fort Frances</span><br>
                <span property="addressRegion">Ontario</span><br>
                <span property="postalCode">P9A 1K5</span><br>
                <span property="addressCountry">Canada</span><br>
            </div>
            <div>
                <span property="telephone">807-274-7787</span>
                <span property="faxNumber">807-274-6646</span>
            </div>
        </div>
        <div class="span6"></div>
    </div>
    <div class="row">
        <div class="span6">
            <div property="address" typeof="http://schema.org/PostalAddress">
            <span property="streetAddress">820 Lakeview Drive</span><br>
            <span property="addressLocality">Kenora</span><br>
            <span property="addressRegion">Ontario</span><br>
            <span property="postalCode">P9N 3P7</span><br>
            <span property="addressCountry">Canada</span><br>
            </div>

            <div>
                <span property="telephone">807-467-5437</span>
                <span property="faxNumber">807-467-5539</span>
            </div>
        </div>
        <div class="span6"></div>
    </div>
    <div class="row">
        <div class="span6">
            <div property="address" typeof="http://schema.org/PostalAddress">
                <span property="streetAddress">211 Main Street West</span><br>
                <span property="addressLocality">Atikokan</span><br>
                <span property="addressRegion">Ontario</span><br>
                <span property="postalCode">P0T 1C0</span><br>
                <span property="addressCountry">Canada</span><br>
            </div>

            <div>
                <span property="telephone">807-597-2700</span>
                <span property="faxNumber">807-597-6720</span>
            </div>
        </div>
        <div class="span6"></div>
    </div>
    <div class="row">
        <div class="span6">
            <div property="address" typeof="http://schema.org/PostalAddress">
                <span property="streetAddress">175 West River Road</span><br>
                <span property="addressLocality">Dryden</span><br>
                <span property="addressRegion">Ontario</span><br>
                <span property="postalCode">P8N 2Z4</span><br>
                <span property="addressCountry">Canada</span><br>
            </div>

            <div>
                <span property="telephone">807-223-5325</span>
                <span property="faxNumber">807-223-5324</span>
            </div>
        </div>
        <div class="span6"></div>
    </div>
    <div class="row">
        <div class="span6">
            <div property="address" typeof="http://schema.org/PostalAddress">
                <span property="streetAddress">201 Howey Street</span><br>
                <span property="addressLocality">Red Lake</span><br>
                <span property="addressRegion">Ontario</span><br>
                <span property="postalCode">P0V 2M0</span><br>
                <span property="addressCountry">Canada</span><br>
            </div>

            <div>
                <span property="telephone">807-727-2165</span>
                <span property="faxNumber">807-727-2645</span>
            </div>
        </div>
        <div class="span6"></div>
    </div>
    <div class="row">
        <div class="span6">
            <div property="address" typeof="http://schema.org/PostalAddress">
                <span property="streetAddress">41 King Street</span><br>
                <span property="addressLocality">Sioux Lookout</span><br>
                <span property="addressRegion">Ontario</span><br>
                <span property="postalCode">P8T 1B7</span><br>
                <span property="addressCountry">Canada</span><br>
            </div>

            <div>
                <span property="telephone">807-737-3250</span>
                <span property="faxNumber">807-737-2611</span>
            </div>
        </div>
        <div class="span6"></div>
    </div>
</div>
{% endblock %}