{% extends "base.html" %}

{% load blog_tags %}

{% block meta_title %}Home{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="span8">
                <img class="frontpage-hero" src="{{ STATIC_URL }}img/family.jpg" alt="A family of four in a field, holding hands and walking into the sunset." />
            </div>
            <div class="span4">
                <div id="values">
                    <dl>
                                    <dt>Vision</dt>
                                    <dd>Children and families reaching their full potential.</dd>
                                </dl>
                                <dl>
                                    <dt>Mission</dt>
                                    <dd>We are dedicated to ensuring the safety and well-being of every child by providing effective services to children and families.</dd>
                                </dl>
                                <p><strong>Values</strong></p>
                                <div class="row">
                                    <div class="span4 values-list">
                                        <dl>
                                            <dt>Positive Attitude</dt>
                                            <dd>We will focus on strengths, accept differences and see challenges as opportunities.</dd>
                                            <dt>Relationships</dt>
                                            <dd>We value positive connections and open communications to provide opportunities for meaningful change.</dd>
                                            <dt>Integrity</dt>
                                            <dd>We value mutual trust and respect through transparency, honesty and accountability.</dd>
                                            <dt>Diversity</dt>
                                            <dd>We nurture and embrace the uniqueness of all individuals and cultures in our workplace and communities.</dd>
                                            <dt>Excellence</dt>
                                            <dd>We are committed to the continuous pursuit of skills, knowledge and quality service.</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top:-80px;">
            <div class="span8 text-center">
                <h2>Agency News</h2>
                {% blog_recent_posts as recent_posts %}
                {% if recent_posts %}
                {% for post in recent_posts %}
                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                {% endfor %}
                {% endif %}
            </div>
            <div class="span4"></div>
        </div>
    </div>
{% endblock %}