 <a href="http://www.krrcfs.ca/corporate-services/childrens-services-fair/"><img src="{{STATIC_URL}}img/slides/csf.png" alt=""></a>
 <a href="http://www.krrcfs.ca/family-services/jurisdiction-areas-and-communities-covered/"><img src="{{ STATIC_URL }}/img/slides/CW-Service-RRD.png" alt=""></a>
 <!--<a href="http://www.krrcfs.ca/childrens-services/national-adoption-awareness-month/"><img src="{{ STATIC_URL }}/img/slides/naam-slide.png" alt=""></a> -->
 <a href="http://www.krrcfs.ca/corporate-services/strategic-plan-2013-2016/"><img src="{{ STATIC_URL }}img/slides/slide-sp-2.jpg" alt=""></a>
